<div class="score">
    <div class="row">
        <div class="small-2 medium-2 columns text-left">
            <h6 class="whitecolor score">{{ 'views.worldcup.score.ranking.rank'|trans }}</h6>
        </div>
        <div class="small-8 medium-6 columns text-center">
            <h6 class="primarycolor username">{{ 'views.worldcup.score.ranking.user'|trans }}</h6>
        </div>
        <div class="small-6 columns show-for-small text-center">
            <h6 class="whitecolor score">{{ 'views.worldcup.score.ranking.score'|trans }}</h6>
        </div>
        <div class="small-6 columns show-for-small text-center">
            <h6 class="primarycolor score">
                {{ 'views.worldcup.score.ranking.nbmaxscore'|trans }}
            </h6>
        </div>
        <div class="medium-2 columns hide-for-small text-center">
            <h6 class="whitecolor score">{{ 'views.worldcup.score.ranking.score'|trans }}</h6>
        </div>
        <div class="medium-2 columns hide-for-small text-center">
            <h6 class="primarycolor score">
                {{ 'views.worldcup.score.ranking.nbmaxscore'|trans }}
            </h6>
        </div>
    </div>
</div>