{% extends '::base.html.twig' %}

{% block title %}{{ 'site.title.long'|trans }} {{ 'views.worldcup.default.index.catchphrase'|trans }}{% endblock %}

{% block page %}
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.worldcup.default.index.title'|trans }}
            </h1>

            <h2 class="text-center headerpagehome ">
                {{ 'views.worldcup.default.index.catchphrase'|trans }}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center bluecolor">
                {{ 'views.worldcup.default.index.soustitle1'|trans }}
            </h3>

            <p class="bluecolor p-large">
                {{ 'views.worldcup.default.index.who'|trans|raw }}
            </p>

        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            {% if is_granted('ROLE_USER') %}
                <a class="large button round" href="{{ path('zimzim_worldcup_game') }}">
                    {{ 'button.bet'|trans }} !
                </a>
            {% else %}
                <a class="large button round" href="{{ path('hwi_oauth_connect') }}">
                    {{ 'button.maybego'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

{% endblock page %}