{% extends '::base.html.twig' %}

{% block title %}{{ 'site.title.long'|trans }} {{ 'views.worldcup.default.index.catchphrase'|trans }}{% endblock %}

{% block page %}
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.worldcup.default.index.title'|trans }}
            </h1>

            <h2 class="text-center headerpagehome ">
                {{ 'views.worldcup.default.index.catchphrase'|trans }}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="medium-8 medium-centered columns">
            <h3 class="text-center">
                {{ 'views.worldcup.default.index.soustitle1'|trans }}
            </h3>

            <p class="blackcolor p-large text-justify">
                {{ 'views.worldcup.default.index.who'|trans|raw }}
            </p>

        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            {% if is_granted('ROLE_USER') %}
                <a class="large button round" href="{{ path('zimzim_worldcup_game') }}">
                    {{ 'button.bet'|trans }} !
                </a>
            {% else %}
                <a class="large button round" href="{{ path('hwi_oauth_connect') }}">
                    {{ 'button.maybego'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="small-11 small-centered columns text-center ">
                <h3 class="blackcolor sstitle text-left">
                    {{ 'views.worldcup.default.index.gameoftheday'|trans|raw }}
                </h3>
                {% for game in games %}
                    <div class="row panel">
                        <div class="small-8 medium-6 columns text-center">
                            <h4 class="primarycolor">
                                {{ game.teamA.name }} - {{ game.teamB.name }}
                            </h4>
                        </div>
                        <div class="small-4 medium-2 columns text-center">
                            <h4 class="whitecolor">
                                {{ game.date|date('H:i') }}
                            </h4>
                        </div>
                        <div class="small-12 medium-4 columns text-center">
                            <a href="{{ path('zimzim_worldcup_game_show', {'id': game.id}) }}"
                               class="tiny button round">
                                {{ 'button.show'|trans }}
                            </a>
                            <a href="{{ path('zimzim_worldcup_userbet_with_game', {'id': game.id}) }}"
                               class="tiny button round">
                                {{ 'button.bet'|trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="small-11 small-centered columns text-left">
                <h3 class="blackcolor sstitle">
                    {{ 'views.worldcup.default.index.ranking'|trans|raw }}
                </h3>
                {% include 'ZIMZIMBundlesWorldCupBundle:Score:include/head-line-score.html.twig' %}
                {% for key,ranking in rankings %}
                    {% set last = rankings|length - 1 %}
                    {% include 'ZIMZIMBundlesWorldCupBundle:Score:include/line-score.html.twig' with {'ranking': ranking, 'last': last} %}
                {% endfor %}
            </div>
        </div>

        <hr>

    {% endif %}

{% endblock page %}