{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.worldcup.game.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.worldcup.game.index.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns text-center">
            <a class="tiny button round" href="{{ path('zimzim_worldcup_game_nextgame') }}">
                {{ 'views.worldcup.game.index.nextgame'|trans }}
            </a>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="small-12 large-12 columns">
                <a class="tiny button" href="{{ path('zimzim_worldcup_game_new') }}">
                    {{ 'button.create'|trans }}
                </a>
            </div>
        </div>
    {% endif %}

    {{ grid_search(grid) }}

    {{ grid(grid) }}

{% endblock %}
