{% extends '::base.html.twig' %}


{% block title %}
    {{ 'views.worldcup.game.show.title'|trans }} : {{ entity.__toString }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center headerpagehome">
                {{ entity.__toString }}
            </h1>
        </div>
    </div>
    <div class="row ">
        <div class="small-centered small-10 columns panel">
            <h3 class="bgcolor text-center">
                <span class="text-left">
                    {{ entity.teamA.name }}
                    <span class="score">{{ entity.scoreTeamA }}</span>
                </span>
                <span class="versus">
                    {{ 'views.worldcup.score.index.versus'|trans }}
                </span>
                 <span class="text-right">
                     <span class="score">{{ entity.scoreTeamB }}</span>
                     {{ entity.teamB.name }}
                 </span>
            </h3>
        </div>
    </div>
    <div class="row ">
        <div class="small-centered small-10 columns text-center panel">
            {% for key,userbet in userbets %}
                {% set last = userbets|length - 1 %}
                <div class="score {% if last == key %}scorelast{% endif %}">
                    <div class="row">
                        <div class="small-6 columns text-center">
                            <h6 class="primarycolor username">{{ userbet.user.username }}</h6>
                        </div>
                        <div class="small-3 columns text-center">
                            <h6 class="whitecolor score">{{ userbet.scoreTeamA }}</h6>
                        </div>
                        <div class="small-3 columns text-center">
                            <h6 class="whitecolor score">{{ userbet.scoreTeamB }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}


            {% if userbets|length == 0 %}
                <div class="row panel">
                    <div class="small-12 large-12 columns text-center alert-box warning">
                        <h3>{{ 'views.worldcup.game.show.noresult'|trans }}</h3>
                    </div>
                </div>
            {% endif %}
            <hr>
            <div class="row">
                <div class="medium-4 columns text-center">
                    <a class="tiny button round" href="{{ path('zimzim_worldcup_game') }}">
                        {{ 'link.return'|trans }}
                    </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="medium-4 columns text-center">
                        <a class="tiny button round"
                           href="{{ path('zimzim_worldcup_game_edit', { 'id': entity.id }) }}">
                            {{ 'button.update'|trans }}
                        </a>
                    </div>
                    <div class="medium-4 columns text-center">
                        {{ form(delete_form) }}
                    </div>
                {% else %}
                    <div class="medium-8 columns text-center">
                        <a class="tiny button round"
                           href="{{ path('zimzim_worldcup_userbet_with_game', {'id': entity.id}) }}">
                            {{ 'button.bet'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
