{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.worldcup.score.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.worldcup.score.index.title'|trans }}
            </h1>
        </div>
        <div class="small-12 columns">
            <h2 class="text-center headerpagehome">
                <small>{{ 'views.worldcup.score.index.forgot'|trans }}</small>
            </h2>
        </div>
    </div>


    <div class="row">
        <div class="small-12 large-12 columns">
            {% for key,game in games %}
                <div class="row ">
                    <div class="small-centered small-10 columns panel">
                        <h3 class="bgcolor text-center">
                            {{ game.teamA.name }} : <span class="score">{{ game.scoreTeamA }}</span>
                            <span class="versus">
                                {{ 'views.worldcup.score.index.versus'|trans }}
                            </span>
                            {{ game.teamB.name }} : <span class="score">{{ game.scoreTeamB }}</span>
                        </h3>
                    </div>
                </div>
                <div class="row ">
                    <div class="small-centered small-10 columns text-center panel">
                        {% for key,score in tabscore[game.id] %}
                            {% set last = tabscore[game.id]|length - 1 %}
                            <div class="score {% if last == key %}scorelast{% endif %}">
                                <div class="row">
                                    <div class="small-6 columns text-center">
                                        <h6 class="primarycolor username">{{ score['user'] }}</h6>
                                    </div>
                                    <div class="small-6 columns show-for-small text-center">
                                        <h6 class="whitecolor score">{{ score['score'] }}</h6>
                                    </div>
                                    <div class="small-12 columns show-for-small text-center">
                                        <h6 class="primarycolor score">
                                            {{ score['points'] }}{{ 'views.worldcup.score.index.point'|trans }}
                                        </h6>
                                    </div>
                                    <div class="medium-3 columns hide-for-small text-center">
                                        <h6 class="whitecolor score">{{ score['score'] }}</h6>
                                    </div>
                                    <div class="medium-3 columns hide-for-small text-center">
                                        <h6 class="primarycolor score">
                                            {{ score['points'] }}{{ 'views.worldcup.score.index.point'|trans }}
                                        </h6>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if games|length == 0 %}
                <div class="row panel">
                    <div class="small-12 large-12 columns text-center alert-box warning">
                        <h3>
                            {{ 'views.worldcup.score.index.noresult'|trans }}
                        </h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
